<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/app.css' />
  </head>
  <body>
    <a href="/home">Home</a>
    {{{body}}}
  </body>
</html>
