<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/app.css' />
  </head>
  <body>
      {{{body}}}
  </body>
</html>
